In [ ]:
!http_proxy="127.0.0.1"

In [ ]:
# local db

In [ ]:
large_df = pd.read_csv(dataset_fname, chunksize=100000)

In [ ]:
# this is small enough to just push it like that
df.to_sql("taxi_zones", con=engine)

In [ ]:
for chunk in large_df:
    chunk["lpep_pickup_datetime"] = pd.to_datetime(chunk["lpep_pickup_datetime"])
    chunk["lpep_dropoff_datetime"] = pd.to_datetime(chunk["lpep_dropoff_datetime"])
    
    chunk.to_sql("taxi_trips", con=engine, if_exists="append")

In [ ]:
conn = engine.connect()

In [ ]:
curr = conn.execute("SELECT * FROM taxi_trips LIMIT 10")

In [ ]:
pd.read_sql("SELECT * FROM taxi_trips LIMIT 100", con=engine)

In [ ]:
curr = conn.execute("SELECT count(1) FROM taxi_trips WHERE lpep_dropoff_datetime >= '2019-01-15 00:00:00' and lpep_dropoff_datetime < '2019-01-16 00:00:00' and lpep_pickup_datetime >= '2019-01-15 00:00:00' and lpep_pickup_datetime <= '2019-01-16 00:00:00'")

In [ ]:
next(curr)

In [ ]:
curr = conn.execute("SELECT max(trip_distance) FROM taxi_trips")

In [ ]:
next(curr)

In [ ]:
next(conn.execute("SELECT lpep_pickup_datetime, lpep_dropoff_datetime FROM taxi_trips WHERE trip_distance = 117.99"))

In [ ]:
next(conn.execute("SELECT count(1) FROM taxi_trips WHERE passenger_count = 3 and lpep_pickup_datetime::date = '2019-01-01'"))

In [ ]:
--iidfile string
3
20530
2019-01-15
1282 \ 254